  .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

  /* search */
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  /* list */
  .list {
    display: inline-block;


  }

  .radio-group {
    display: inline-block;
    margin-left: 8px;
    margin-top: 10px;
  }

  .listItem {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;

    font-size: 16px;
  }

  .btnSend {
    margin-top: 30px;
    display: block;
  }

  /* add and back btn */

  .add {
    margin-right: 25px;
  }

  .back {
    margin-top: 18px;
    align-content: center;
  }

  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }

  .search {
    display: inline-block;
    align-items: flex-end;
    margin-top: 18px;
    align-content: center;
width: 50%;
  }

  .projName {
    display: inline-block;
    margin-right: 50px;


  }

  .projName2 {
    margin-top: 18px;
  }


  