<div class="content">
<mat-form-field appearance="fill">
    <mat-label>Quell Projekt</mat-label>
    <mat-select (selectionChange)="onSelectedOrg1($event.value)">
      
      <mat-option *ngFor="let option of organization" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> 
<div>
    <mat-form-field appearance="fill">
        <mat-label>Ziel Projekt</mat-label>
        <mat-select (selectionChange)="onSelectedOrg2($event.value)">
          
          <mat-option *ngFor="let option of organization" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div> 