<div class="content">
  <div class="projList">
    <app-project-list selectedProjName="selectedProj1" *ngIf="currentOrg1" [organization]="currentOrg1"
      [isActive]="!isActive"></app-project-list>
    <div>
      <button class="btn1" mat-button matStepperPrevious>Back</button>
      <button class="btn2" mat-button matStepperNext [disabled]="!validProjects()">Next</button>
    </div>
  </div>
  <div>
    <app-project-list selectedProjName="selectedProj2" *ngIf="currentOrg2" [organization]="currentOrg2"
      [isActive]="!isActive"></app-project-list>
  </div>

