<mat-toolbar class="mat-h1" color="primary">Variablen Group Tool</mat-toolbar>

<div class="grid-container">

  <mat-vertical-stepper #stepper [linear]="true">
    
    <mat-step label="Access-Token" optional="false" #accessTokenStep>
      <app-access-token [isActive]="stepper.selected == accessTokenStep"></app-access-token>
    </mat-step>

    <mat-step label="Organisationen" optional="false" #organisationStep>
      <app-organization [isActive]="stepper.selected == organisationStep"></app-organization>
    </mat-step>

    <mat-step label="Projects" optional="false" #projectStep>
      <app-projects *ngIf="stepper.selected == projectStep"></app-projects>
    </mat-step>

    <mat-step label="Variables" optional="false" #VarStep>
      <app-variables *ngIf=" stepper.selected== VarStep"></app-variables>
    </mat-step>

    <mat-vertical-stepper>